@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}


/* Reset default styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --logoBar-height: clamp(140px, 10vh, 350px);
}

body {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    height: max(825px, 100vh);
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 2 1 auto;
    width: 66%;
    background-color: rgb(247, 247, 247);
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}


/* Side Bar Styles */

.sideBar {
    display: grid;
    flex: 1 1 auto;
    width: 33%;
    height: 100%;
    background-image: url(photo-1585202900225-6d3ac20a6962.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.logoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 115px;
    width: 100%;
    height: fit-content;
}

.logoBar img {
    height: var(--logoBar-height);
    box-sizing: border-box;
    padding: 10px 0px;
    width: 90px;
}

.logoBar .logoText {
    font-family: norse-bold;
    color: white;
    font-size: min(5em, 90px);
    font-weight: bold;
}

.sideBar .credit {
    box-sizing: border-box;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
}

.credit span {
    text-decoration: underline;
}



/* Section 1 Styles */

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    height: calc(115px + var(--logoBar-height));
    padding: 50px;
}

em {
    font-style: italic;
}

.section1 p {
    width: 75%;
    padding-bottom: 30px;
}

.section1, legend {
    font-weight: 600;
    font-size: 1.35rem;
    padding-bottom: 35px;
    letter-spacing: 1.15px;
    word-spacing: 0.75px;
}



/* Section 2 Styles */

.section2 {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 7px 7px 7px rgb(221, 221, 221), 1px -1px 1px rgb(241, 241, 241);
    padding: 30px 50px;
    height: fit-content;
    color: rgb(60, 60, 80);
}

legend {
    width: 100%;
}

form {
    display:flex;
    flex-wrap: wrap;
}

label {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 1.25px;
    width: fit-content;
}

form div {
    width: 40%;
}

input {
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    width: 70%;
    height: 35px;
    padding: 1px 10px;
    margin-top: 2px;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: inherit;
}

input:focus-visible, input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
}

input#password {
    margin-bottom: 0px;
}